<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootapps Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/main.css" rel="stylesheet">
</head>
<body>
    <h1>Bootapps Dashboard</h1>
    <p th:text="'autoreload: ' + ${autoreload}" />

    <table id="bootapps" border="1">
        <tr>
            <th>Bootapp Name</th>
            <th>Health</th>
            <th>Info</th>
        </tr>
        <tr class="bootapp" th:each="bootapp : ${bootapps}">
            <td class="bootapp-name" th:text="${bootapp.name}">Bootapp Name</td>
            <td class="bootapp-health" th:attr="data-bootapp-health-url=${bootapp.healthEndpointUrl}">no health available</td>
            <td class="bootapp-info" th:attr="data-bootapp-info-url=${bootapp.infoEndpointUrl}">no info available</td>
        </tr>
    </table>
    <script src="js/main.js"></script>
</body>
</html>